        <style>

            img {
                opacity: 0.6;
                filter: alpha(opacity=60);

            }

            img:hover {
                opacity: 1.0;
                filter: alpha(opacity=100);
            }

            .left {
                left: 0;
                margin-left: 50%;
                overflow: hidden;

            }

            .right {
                margin-right: 50%;
                overflow: hidden;
            }

            .split {
                height: 100%;
                width: 50%;
                position: fixed;
                z-index: 1;
                top: 0;
                overflow-x: hidden;
            }

            .centered {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                color: black;
                font-size: 200%;
                font-style: oblique;

            }

            .mattress{
                max-width: 100%;
                max-height: auto;
                margin: auto;
            }
            
            .pillow{
                max-width: auto;
                max-height: 100%;
                margin: auto;
            }
        </style>