<style>
            .header {
                text-align: center;
                font-style: oblique;   
            }

            img {
                text-align: center;
                display: block;
                width: auto;
                height: 50%;
                margin: auto;
                opacity: 0.6;
                filter: alpha(opacity=60);

            }

            img:hover {
                opacity: 1.0;
                filter: alpha(opacity=100);
            }

            .image {
                position: relative;
                float: left;
                width: 40%;
                padding: 60px;
                vertical-align: middle; 
            }

            .image h1, h2{
                color: black;
                position: absolute;
                text-align: inherit;
                width: 100%;
            }

            .row {
                text-align: center;
                display: table;
            }
            .centered {
                position: absolute;
                top: 33%;
                left: 37%;
                width: 25%;
            }

        </style>